@media only screen and (max-width: 900px) {
  .sideMenu {
    margin-left: 12%;
  }
  .content {
    display: block !important;
    width: 100%;
  }
  .preview {
    width: unset !important;
  }
  .mainContainer {
    width: unset !important;
    margin-top: 30px !important;
  }
  .previewText {
    height: 180px;
  }
  .optionList {
    width: unset !important;
  }
  .otheLinks ul li {
    width: unset !important;
  }
}

@media only screen and (max-width: 668px) {
  .sideMenu {
    margin-left: 20%;
  }
  .previewText {
    height: 230px;
  }
}
